<%= image_tag attachments['logo.jpg'].url, size: "256x145" %>
<br>

<table class="email-table">
  <tbody>
    <tr class="header-row">
      <td>
        <h1>Witaj!</h1>
      </td>
    </tr>
    <tr class="body-row">
      <td>
        <p>
  W programie <strong>POLA</strong> w zadaniu <strong><%= link_to @event.try(:title), event_url(@event), target: "_blank" %></strong>, dotyczącym projektu <strong><%= link_to @event.project.try(:number), project_url(@event.project), target: "_blank" %></strong> dodano załącznik.
        </p>
      </td>
    </tr>

  </tbody>
</table>

<table class="email-table">
  <tbody>
    <% @event.attachments.each_with_index do |row, index| %>
      <tr class="body-row">
        <td>
          <% if index == 0 %>
            <p><strong>Lista załączników</strong>:</p>
          <% end %>
        </td>
        <td>
          <p><small><%= "#{row.try(:fullname)}" %></small></p>
        </td>
      </tr>
    <% end %>


  </tbody>
</table>

<br>
<div align="center"><div style="border-top: 1px solid #C7D540; width:100%; line-height:1px; height:1px; font-size:1px;">&#160;</div></div>
</div>

<p><small>Ta wiadomość została wysłana automatycznie. Proszę nie odpisywać.</small></p>

<div align="center"><div style="border-top: 1px solid #C7D540; width:100%; line-height:1px; height:1px; font-size:1px;">&#160;</div></div>
</div>
