<div class="row">
  <div class="col-sm-12">

    <fieldset class="my-fieldset">
      <legend class="my-fieldset"><%= t('pages.business_trip.fieldset.other_costs_title') %></legend>

        <p>1. Nie zapewniono żadnego posiłku</p>
        <p>2. Zapewniono posiłki zgodnie z poniższą tabelą</p>
        <br>
        <p>3. Korzystałem z przejazdów komunikacją miejscową w miejscu delegowania w dniach ………………………………………….</p>
        <p>4. Nie korzystałem z przejazdów komunikacją miejscową w miejscu delegowania</p>
        <p>5. Koszty noclegu  zgodnie z załączoną fakturą</p>
        <p>6. Nocleg zapewniony przez organizatora</p>
        <p>7. Nocleg we własnym zakresie</p>
        <p>8. Nie korzystałem z noclegu</p>
        <p>9. Uwagi ……………..</p>
        <br>



    </fieldset>


  </div> <!--/col-sm-12 -->
</div>  <!-- /row -->
