<div class="col-sm-4">
  <%= render 'data_basic_buttons_left', input_disabled: true %>
</div>

<div class="col-sm-8">
  <ul class="timeline timeline-split">

    <% @business_trip.flows.order(:business_trip_status_updated_at).each do |flow| %>

      <li class="timeline-item">
        <div class="timeline-info">
          <span><%= flow.business_trip_status_updated_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h4 class="timeline-title"><%= flow.business_trip_status.name %></h4>
          <p class="pull-right"><i>~ <%= flow.business_trip_status_updated_user.fullname %></i></p>

        </div>
      </li>

    <% end %>

  </ul>
</div>
