<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h3 class="center">
        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
        <span><%= t "pages.role.index.title" %></span>
      </h3>
    </div> <!--/row -->
  </div> <!--/col-sm-12 -->


  <div class="col-sm-12">
    <%#= line_chart Accessorization.joins(event: [:event_type]).group('event_types.name').count %>
  </div> <!--/col-sm-12 -->

  <div class="col-sm-12">
    <%#= pie_chart Event.joins(:event_type).group('event_types.name').count %>
  </div> <!--/col-sm-12 -->

  <div class="col-sm-12">
    <% et = EventType.find(1) %>
    <% user = User.find(4) %>
    <%= pie_chart EventType.joins(events: {accessorizations: [:user], event_status: []}).where( events: {event_type: [et], accessorizations: {user: [user]}} ).group('event_types.name').size
    %>


  <%= pie_chart( [["Football", 10], ["Basketball", 5]] ) %>


  <%= pie_chart ( EventType.all.map {|row| 
      [ row.name, 
        Event.joins(:accessorizations).where( event_type_id: [row.id], accessorizations: {user_id: [user.id]} ).size ]
    } ) %>


  </div> <!--/col-sm-12 -->


</div> <!--/row -->





