<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h3 class="center">
        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
        <span><%= t "pages.role.index.title" %></span>
      </h3>
    </div> <!--/row -->
  </div> <!--/col-sm-12 -->


</div> <!--/row -->



