<div class="col-sm-12">

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <%= line_chart by_month_all_errands_charts_path , adapter: "highcharts", language: :de %>
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->
  </div>  <!-- /row -->

<!--   <hr class="hr">
 -->

  
  <hr class="hr-without-top-margin">
  <div class="row">

    <%= link_to errands_path, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-th-list"></span>
      <%= t("helpers.links.index") %>
    <% end %>


  </div> <!-- /row -->

</div> <!--/col-sm-11 col-sm-offset-1-->    
