<div class="col-sm-12">
  <div class="row">
    <%= chart_errands_by_status %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <%= chart_errands_by_month %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    


<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <%= chart_errands_by_month_status %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<!--   <hr class="hr">
  adapter: "google"
  adapter: "highcharts"

  colors: ["#1B3C8F", "#BECC25", "#6986C3", "#1A3069", "#779BE5", "#576A95", "#476AB1", "#2F4471", "#547ED5", "#818FAB", "#2C52B4"]


 -->

  
