<div class="col-sm-12">

  <div class="panel panel-default">
    <div class="panel-body">

      <%= form_tag({controller: "errands", action: "index"}, method: "get") do |f| %>

          <div class="col-sm-10">
          </div> <!-- /.col-sm-12 -->

          <div class="col-sm-2">
            <%= button_tag t("helpers.links.filter"), type: 'submit', class: 'btn btn-sm btn-primary glyphicon glyphicon-search pull-right' %>
          </div> <!-- /.col-sm-12 -->

        </div> <!-- /row -->

      <% end %> <!-- /form_tag(... -->

    </div>
  </div>

</div> <!-- /.col-sm-12 -->

