<h1>Projects::Accessorizations#edit</h1>
<p>Find me in app/views/projects/accessorizations/edit.html.erb</p>

<h1>Editing Accessorization</h1>

<%= render 'form', role: @role %>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>
