<h1>Projects::Accessorizations#new</h1>
<p>Find me in app/views/projects/accessorizations/new.html.erb</p>

<h1>New Accessorization</h1>

<%= render 'form', role: @role %>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>
