<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= user.email %>
</td>
<!--
<td>
  <%#= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs-danger') %>
</td>
-->