  <!-- Załączniki -->
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="panel panel-attach">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_attach" >
          <div class="panel-heading">
            <div class="panel-title">
              <span class="glyphicon glyphicon-paperclip">&nbsp;</span>
              <span><%=t"pages.attachment.index.title"%></span>
              <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
            </div>
          </div>
        </a>
        <div id="collapse_attach" class="panel-collapse collapse"> <!-- id="collapse_attach" -->
          <div class="panel-body">

            <%= render 'attachments/attachments', attachmenable: attachmenable %>

          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_attach" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-11 col-sm-offset-1 -->
  </div> <!-- /row -->
