<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <ul class="timeline timeline-split">

      <%# event.comments.order(created_at: :desc).each do |comment| %>
        <%= render @event.comments.order(created_at: :asc) %>
      <%# end %>
      <div id="id_new_comment"></div>

    </ul>
  </div>
</div>


<% if policy(@comment).create? %>
  <div class="row">
    <%= render 'events/comments/form', event: @event, comment: @comment %>
  </div>
<% end %>