<div class="col-sm-12">

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <%= chart_events_by_month %>
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->
  </div>  <!-- /row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <%= chart_events_by_month_type %>
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->
  </div>  <!-- /row -->
  
</div> <!--/col-sm-11 col-sm-offset-1-->    
