<div class="row">
  <div class="col-sm-10 clearfix">
    <div class="well" id='calendar'></div>
  </div>  

  <div class="col-sm-2 clearfix">
    <br>
    <% if policy(:event).new? %>
      <%= link_to new_event_path, class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t("helpers.links.new") %>
      <% end %>
    <% end %>
  </div>  
</div>  
