<div class="col-sm-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= Project.human_attribute_name(:number) %></th>
        <th><%= Project.human_attribute_name(:project_status_id) %></th>
      </tr>
    <thead>
    <tbody>
      <% Project.where(customer: @customer).order(:number).each do |project| %>
        <tr>
          <td>
            <%= link_to project.try(:number), project_path(project) %>
          </td>
          <td>
            <%= project.project_status.try(:name) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
