<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <ul class="timeline timeline-split">

      <%# @project.comments.order(created_at: :desc).each do |comment| %>
        <%= render @project.comments.order(created_at: :asc) %>
      <%# end %>

    </ul>
  </div>
</div>
