<div class="col-sm-12">
  <div class="row">
    <%#= chart_events_by_month %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

