<div class="col-sm-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-11"><%= Opinion.human_attribute_name(:fullname) %></th>
        <th class="col-sm-1"></th>
      </tr>
    <thead>
    <tbody>
      <% @project.opinions.each do |opinion| %>
        <tr>
          <td class="<%='success' if opinion.status == 'active' %>">
            <%= link_to opinion.fullname, project_opinion_path(@project, opinion)  %>
          </td>
        </tr>
      <% end %>
     </tbody>
  </table>

</div>

<div class="col-sm-12">
  <% if true %> <!-- #policy(:opinion).new? %> -->
    <%= link_to t('New', default: t("helpers.links.new")), new_project_opinion_path(@project), 
                        :class => 'btn btn-primary glyphicon glyphicon-plus pull-right' %> 
  <% end %>
</div> <!--/col-sm-12 -->
