<td>
  <%= accessorization.project.present? ? link_to(accessorization.project.number, project_path(accessorization.project)) : '' %>
</td>
<td>
  <%= accessorization.user.present? ? link_to(accessorization.user.name, user_path(accessorization.user)) : '' %>
</td>
<td>
  <%= accessorization.role.present? ? link_to(accessorization.role.name, role_path(accessorization.role)) : '' %>
</td>
<td>
  <%#= link_to image_tag( element.img_index ), region_element_path(@region, element) %>
  <%= link_to t('Edit', default: t("helpers.links.edit")), 
      edit_project_accessorization_path(id: accessorization.id, project_id: accessorization.project_id), 
      :class => 'btn btn-primary glyphicon glyphicon-edit' %> 
</td> 
