<%= form_for [event, comment], remote: true do |f| %>

  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">

    <%= f.label :body, class: 'control-label' %>
    <%= f.text_area :body, :rows => 5, class: 'form-control input-sm' %>

  </div>

  <div class="col-sm-12">
    <%= f.submit nil, class: 'btn btn-primary pull-right' %>
  </div> <!-- /row -->

<% end %>
