<td>
  <%= link_to role.name, role %>
</td>
<td>
  <%= role.activities %>
</td>
<!--
<td>
  <%#= link_to("Delete role", role_path(role), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs-danger') %>
</td>
-->