$font-family-base: Arial, "Helvetica", sans-serif;
//$font-size-base: 14px;
$font-size-base: 12px;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";



/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
  background-color: #eee;
}

.jumbotron {
  color: #31418D;
  background-color: #C7D540;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-bottom: 200px;
  background-color: #31418D; //#C7D540;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 1.3em;

  margin-top: 45px;
  padding-top: 15px;
  border-top: 1px solid $gray-medium-light;
//  color: $gray-light;
  color: #C7D540;
  a {
    color: #C7D540;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

.field_with_errors {
  @extend .has-error;
  display: inherit;
  background-color: inherit;
}

.well-accessorization {
  @extend .well;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

.top-bottom-buffer { 
  margin-top: -10px; 
  margin-bottom: -18px; 
}


.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;  
}

//blokuje wyswietlanie icon "drzewko"
//.DataTable > thead > tr > th[class*="sort"]:after{
//    color: "red" !important;
//}

table.dataTable thead .sorting:after {
    content: "";
}

table.dataTable thead .sorting_desc:after {
    content: "";
}

table.dataTable thead .sorting_asc:after {
    content: "";
}

//tr {
//  background-color: #ccc
//}
//tr:hover{
//  background-color: #eee
//}
//td:hover {
//  background-color: #ddd
//}

.panel-customer {
  border-color: #ddd  
}
.panel-customer > .panel-heading {
  background: #091a2a;
  color: white; 
}

.panel-project {
  border-color: #ddd  
}
.panel-project > .panel-heading {
  background: #091a2a;
  color: white; 
}

.panel-user {
  border-color: #ddd  
}
.panel-user > .panel-heading {
  background: #091a2a;
  color: white; 
}

.panel-role {
  border-color: #ddd  
}
.panel-role > .panel-heading {
  background: #1b4d7e; 
  color: white; 
}

.panel-accessorization {
  border-color: #ddd  
}
.panel-accessorization > .panel-heading {
  background: #2d80d2; 
  color: white; 
}
