$font-family-base: Arial, "Helvetica", sans-serif;
//$font-size-base: 14px;
$font-size-base: 12px;



//$brand-primary:     #428bca;
//$brand-success:     #5cb85c;
//$brand-info:        #5bc0de;
//$brand-warning:     #f0ad4e;
//$brand-danger:      #d9534f;

//$brand-primary:                  darken(#428bca, 6.5%) !default; // #337ab7
//$btn-default-color:              #333 !default;
//$btn-default-bg:                 #fff !default;
//$btn-default-border:             #ccc !default;


$brand-primary:     #1B3C8F;
$brand-success:     #5cb85c;
$brand-info:        #5bc0de;
$brand-warning:     #f0ad4e;
$brand-danger:      #d9534f;


//$brand-primary:          darken(#428bca, 6.5%) !default; // #337ab7
//$btn-default-color:                #333 !default; 
$btn-default-bg:         lighten(#BECC25, 48.5%) !default;
//$btn-default-border:             #ccc !default;


// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";




/* mixins, variables, etc. */


/* universal */

body {
  padding-top: 60px;
  background-color: #eee;
}

.jumbotron {
  color: #31418D;
  background-color: #C7D540;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-bottom: 200px;
  background-color: white;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 1.3em;

  margin-top: 80px;
  padding-top: 25px;
  border-top: 1px solid #C7D540;

  color: $gray-light;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

.field_with_errors {
  @extend .has-error;
  display: inherit;
  background-color: inherit;
}

.well-accessorization {
  @extend .well;
  background-color: lighten(#BECC25, 48.5%);
  padding-bottom: 1px;
  margin-bottom: 10px;
}

.top-bottom-buffer { 
  margin-top: -10px; 
  margin-bottom: -18px; 
}


.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;  
}

//blokuje wyswietlanie icon "drzewko"
//.DataTable > thead > tr > th[class*="sort"]:after{
//    color: "red" !important;
//}

table.dataTable thead .sorting:after {
    content: "";
}

table.dataTable thead .sorting_desc:after {
    content: "";
}

table.dataTable thead .sorting_asc:after {
    content: "";
}

//tr {
//  background-color: lighten(#BECC25, 5%)
//}
//tr:hover{
//  background-color: #779BE5
//}
td:hover {
  background-color: lighten(#BECC25, 48.5%)
}

.panel-customer {
  border-color: #ddd  
}
.panel-customer > .panel-heading {
  background: $brand-primary; //#1A3069;
  color: white; 
}

.panel-project {
  border-color: #ddd  
}
.panel-project > .panel-heading {
  background: $brand-primary; //#2F4471;
  color: white; 
}

.panel-accessorization {
  border-color: #ddd  
}
.panel-accessorization > .panel-heading {
  background: $brand-primary; //#2C52B4; 
  color: white; 
}

.panel-user {
  border-color: #ddd  
}
.panel-user > .panel-heading {
  background: $brand-primary; //#476AB1;
  color: white; 
}

.panel-role {
  border-color: #ddd  
}
.panel-role > .panel-heading {
  background: $brand-primary; //#576A95; 
  color: white; 
}

