<footer class="footer">
  <div class='col-sm-4'>
    <%= link_to image_tag("logo_uke_orzel.png", class: "img img-responsive", alt: "UKE" ), 'http://uke.gov.pl' %>
  </div>

  <div class='col-sm-8'>
    <small>
      UKE-BI-WUR 2017
    </small>
    <nav>
      <ul>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>