<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%#= stylesheet_link_tag "mailer" %>
    <style>

body {
  padding: 0;
  background: #f7f7f7;
  text-align: center;
 }

.email-table {
  width: 538px;
  padding: 20px;
  background: #fff;
  margin: 40px auto;
  text-align: left;
  font-family: 'Helvetica Neue', serif;
}
 
h1 {
  font-size: 20px;  
}

 
p {
  margin-top: 0;
  font-size: 12px;  
}





    </style>



  </head>

  <body>
    <%= yield %>
  </body>
</html>